.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  */

.userInputs-Container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 80vw;
  height: 8vh;
}

.userInputs-Container label {
  display: flex;
  justify-content: space-between;

  width: 30vw;
}

.userInputs-Container label > input {
 width: 22vw;
}

/*  */

.table-container {
  width: 60vw;
  
  font-size: 2vh;
}

tr {
  display: flex;

  height: 3vh;
  border: 1px black solid;
}

th,
td {
  width: 19.95vw;
}

th {
  text-align: left;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapse{
  background-color: #ccc;

  cursor: pointer;
}

.icon-img{
  max-width: 1.3vw;
  float: right;
  margin-right: 1vw;
  filter: invert(100%);
}

/*  */

.maps-container {
  display: flex;
  align-items: center;
}

.maps-container img {
  max-width: 40vw;
}

.maps-container button {
  width: 8vw;
  height: 6vh;
}

.maps-inputs {
  display: flex;
  flex-direction: column;
}

/*  */

.uncoming-container{
  display: flex;
  flex-wrap: wrap;

  width: 78vw;
}

.upcoming-card {
  width: 13vw;

  margin-top: 2vh;
}

.upcoming-card img {
  max-width: 11vw;
}

/*  */

.news-container {
  width: 80vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.news-container button {
  height: 6vh;
}

.news-card {
  width: 60vw;
}

.news-card img {
  max-width: 60vw;
}

/*  */

.video-container {
  display: flex;
  align-items: center;

  margin-bottom: 15vh;
}

.video-container button {
  max-height: 6vh;
}

iframe {
  width: 50vw;
  height: 50vh;
}

